/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.js-form {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
